.cardContainer {
  perspective: 1000px;
  width: 370px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d; /* Añade esto */
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.cardBack {
  transform: rotateY(180deg);
}
