.background-hero-image {
  background-image: url("https://res.cloudinary.com/du0ivrgj2/image/upload/v1698037532/personal/portfolio/GridRezise_zslyuv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
