@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif, arial, helvetica;
}

.imageClass {
  max-height: 400px;
  object-fit: contain;
  width: fit-content;
  border-radius: 50% 50% 0 0;
}

@media (min-width: 1024px) {
  .imageClass {
    max-height: 900px;
    object-fit: initial;
    width: initial;
    align-self: flex-end;
  }
}

.text-shadow {
  text-shadow: 1px 2px 5px #888888;
}

.truncate-line-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.truncate-line-3 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.truncate-line-4 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
